body {
    background-color: floralwhite;
}

.tableStyle{
    padding-left: 7%;
    padding-right: 7%;
    min-height: 500px;
    min-width: 500px;
    width: 50%;
    height: 50%;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.pileStyle{
    min-height: 125px;
    min-width: 90px;
    background-color: floralwhite;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.handStyle{
    min-height: 150px;
    border-radius: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 75%;
}

.room{
    padding-bottom: 5%;
}
.centered {
    display: flex;
    align-content: center;
    justify-content: center;
}