body {
    background-color: floralwhite;
}

.tableStyle{
    padding-left: 7%;
    padding-right: 7%;
    min-height: 500px;
    min-width: 500px;
    width: 80%;
    height: 50%;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    justify-self: center;
}

.pileStyle{
    min-height: 125px;
    min-width: 90px;
    background-color: floralwhite;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.handStyle{
    min-height: 150px;
    border-radius: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 75%;
}

.room{
    padding-bottom: 5%;
    justify-content: center;
    justify-self: center;
}
.centered {
    display: flex;
    align-content: center;
    justify-content: center;
}

.toolbarStyle {
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    flex: auto;
}

.greetingStyle{
    align-self: center;
    justify-self: flex-start;
    padding-right: 15px;
    flex: 1;
}

.roomCodeStyle{
    padding-right: 150px;
    padding-left: 15px;
    flex: 1;
}

.leaveButtonStyle{
    align-content: flex-end;
    padding-left: 15px;
    flex: 1;
}

.listItemStyle{
    border-bottom: 3px solid #00695c;
    max-width: max-content;
    justify-content: flex-start;
    justify-self: flex-start;
}

.listStyle{
    display: flex;
    justify-content: flex-start;
}

.multiListStyle{
    margin:0;
    width: max-content;
    justify-content: flex-start;
    justify-self: flex-start;
    display: flex;
    flex-direction: column;
}